version: '3.7'
services: 
    database:
        container_name: database
        image: mysql:5.7
        restart: always
        ports:
            - "3306:3306"
        environment:
            MYSQL_USER: 'user_hibredu'
            MYSQL_PASSWORD: '123456'
            MYSQL_ROOT_PASSWORD: '123456'
            MYSQL_DATABASE: 'hibredu_db'
        volumes:
            - appdbdata:/var/lib/mysql
            - ./docker/sql/hibreduDB:/docker-entrypoint-initdb.d
    app:
        container_name: app
        build: .
        ports:
            - '8080:8080'
        depends_on: 
            - database
        environment:
            - HOST_DB=database
            - USERNAME_DB=user_hibredu
            - PASSWORD_DB=123456
            - DATABASE_DB=hibredu_db
            - STORAGE_TYPE=s3
            - BUCKET_NAME=hibredufiles
            - AWS_ACCESS_KEY_ID=AKIAX4RQYOMP2O24J64E
            - AWS_SECRET_ACCESS_KEY=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
            - AWS_DEFAULT_REGION=sa-east-1
        command: sh -c "cd /var/app/ && npm run dev"
        volumes: 
            - ./app/src:/var/app/src
            - ./app/node_modules:/var/app/node_modules
volumes:
    appdbdata:
        driver: local

networks:
    default: